:root{

    --primary:#080224;
    --button_color:#0094FE;
    --secondary:#AA23D2;
    --bg:#E6E6FA;
    --ternary:	#4B0082;
}

::-webkit-scrollbar {
    display: none;
  }


body{

    margin: 0;
    padding: 0;
}

header{
    width: 84%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/Media_Files/banner.jpg);

    background-size:cover;
    background-position:center;
    padding: 10px 8%;
    position: relative;
    
}

 /* header .Header_content_1 h1{
    color:whitesmoke;
    position: absolute;
    top:30%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%) ;
    font-size: 3rem;
}
*/
header .Header_content_1 h1{
    color:whitesmoke;
    text-align: center;
    margin-top: 14rem;
    font-size: 3rem;

}


header .Header_content_1 h3{
    color:#A9A9A9;
    text-align: center;
    margin-top: 300px;
}



.skills{
    margin-top: 6rem;
    justify-content: center;
    align-items:center;
    text-align: center;
    margin-bottom: 6rem;
    
}

.skills .container h3{
    font-size: 2rem;
    color:var(--ternary);
}

.ski_btn button{
    border:0;
    outline: 0;
    background:var(--secondary);
    border-radius:50px;
    font-size: 1.8rem;
    width: 12rem; 
    height: 45px;
    padding-left: 50px;
    padding-right: 50px;
    margin:2%;
    color:var(--bg);
   
   
}
.flex{
    display: flex;
}

.portfolio{
    background:var(--primary);
    text-align: center;
    justify-content: center;
    align-items:center;
    color:white;
    flex-direction: row;
    
    
}

.portfolio h3{
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}
.project{
   
    justify-content: center;
    align-items:center;
   flex-wrap: wrap;
   padding: 50px 0;

   
}

.img_col img{

    width:20rem;
   
    

}
.text_col{
   flex-basis: 40%;
   font-size: 2rem;
   

    
}
.text_col h3{
    font-size: 2rem;
}
.text_col h5{
    font-size: 1rem;
}
.text_col a button{
    color:var(--primary);
    background:var(--button_color);
    border:none;
    outline:none;
    width:15rem;
    font-size: 1rem;
    height: 3rem;
    border-radius:20px
}
.text_col a button:hover{
    background:var(--secondary);
    color:var(--bg);
}

.img_col{
    flex-basis: 50%;
}

.border{
    border-top: 6px solid #333;
    
}

.contacts{
    
    padding-left: 10rem;
    padding-right: 10rem;
    justify-content: center;
    align-items:center;
    
    text-align: center;
    color:var(--primary);
    background:var(--bg);
    padding-bottom: 3rem;
    
   
}

.contacts h2{

    font-size: 30px;
    padding-top: 2rem;
    padding-bottom: 6rem;
    margin-top:0;
    color:var(--ternary);
}

.contacts .contacts_container{
    margin:2%;
    
    
}

.contacts .contacts_container .cont_img{

    flex-basis: 50%;
}

